[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-nonrelated-inlines = "*"
django-pgtrigger = "*"
psycopg2 = "*"

[dev-packages]
build = "*"
twine = "*"
hatchling = "*"
black = "*"
isort = "*"
pylint = "*"
flake8 = "*"
coverage = "*"
behave-django = "*"
behave-django-steps = "0.5.0"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
