[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.2.23,<5.2"
django-nonrelated-inlines = "*"
django-pgtrigger = "<4.11.1"

[dev-packages]
build = "*"
twine = "*"
hatchling = "*"
black = "*"
isort = "*"
pylint = "*"
flake8 = "*"
coverage = "*"
behave-django = "*"
behave-django-steps = "0.5.2"
coveralls = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
